In [2]:
import pandas as pd
import numpy as np

In [40]:
# read training data 
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")
df_train = df_train.drop(columns = ['Unnamed: 0', 'zipcode'])
df_test = df_test.drop(columns=['Unnamed: 0', 'zipcode', 'date', 'id'])
df_train['price'] = df_train['price']/1000
df_test['price'] = df_test['price']/1000
df_train

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15
0,221.90,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,47.5112,-122.257,1340,5650
1,538.00,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,47.7210,-122.319,1690,7639
2,180.00,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,47.7379,-122.233,2720,8062
3,604.00,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,47.5208,-122.393,1360,5000
4,510.00,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,291.00,4,2.50,1860,6325,2.0,0,0,4,7,1860,0,1991,0,47.3492,-122.030,1860,6449
996,199.95,2,2.75,1590,20917,1.5,0,0,3,5,1590,0,1920,0,47.2786,-122.250,1310,6000
997,553.50,2,1.00,850,2340,1.0,0,0,3,7,850,0,1922,0,47.6707,-122.328,1300,3000
998,189.95,2,1.00,1030,4188,1.0,0,0,3,8,1030,0,1981,0,47.3738,-122.057,1450,3376
999,289.00,3,2.00,1850,9550,1.0,0,0,3,8,1850,0,1988,0,47.3225,-122.273,2250,9550

In [4]:
# select features and target
x_train = df_train.loc[:,df_train.columns != 'price']
y_train = df_train.loc[:, 'price']
x_test = df_test.loc[:,df_test.columns != 'price']
y_test = df_test.loc[:, 'price']

In [14]:
#2
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

scaler = StandardScaler()
x_train = pd.DataFrame(scaler.fit_transform(x_train), columns=x_train.columns)
x_test = pd.DataFrame(scaler.fit_transform(x_test), columns=x_test.columns)

model = LinearRegression()
model.fit(X=x_train, y=y_train)

#predict train
print("training data:")
predict = model.predict(X=x_train)
score = model.score(x_train, y_train)
mse = mean_squared_error(y_train, predict)
#r2 = r2_score(y_train, predict)
print(f'mean squared error: {mse}')
print(model.coef_)   
print (f'model r^2: {score}')


#predict test
print("testing data:")
predict = model.predict(X=x_test)
score = model.score(x_test, y_test)
mse = mean_squared_error(y_test, predict)
print(f'mean squared error: {mse}')
print(model.coef_)   
print (f'r^2: {score}')

training data:
mean squared error: 31486.16777579488
[-12.52196187  18.52763251  56.7488368   10.88186845   8.04372084
  63.74289956  48.20010852  12.96426936  92.23147482  48.29008886
  27.13703247 -67.64311741  17.27137953  78.37573693  -1.03520308
  45.57765781 -12.93009098]
model r^2: 0.7265334318706018
testing data:
mean squared error: 59784.36556751678
[-12.52196187  18.52763251  56.7488368   10.88186845   8.04372084
  63.74289956  48.20010852  12.96426936  92.23147482  48.29008886
  27.13703247 -67.64311741  17.27137953  78.37573693  -1.03520308
  45.57765781 -12.93009098]
r^2: 0.6414235000248592

In [99]:
#3 linear regression
from numpy.linalg import inv
class MyLinearRegression:
    
    def fit(self, X, y):
        X_arr = np.insert(X.to_numpy(), 0, 1, axis=1)
        y_arr = y.to_numpy()
        # we know theta = (X^TX)^-1X^Ty
        theta = inv(X_arr.transpose()@X_arr)@(X_arr.transpose()@y)
        self.theta = theta
        return theta
    
    def predict(self, X):
        X_arr = np.insert(X.to_numpy(), 0, 1, axis=1)
        return X_arr@self.theta

In [50]:
#4 polynomial regression
class PolyRegression:
    def __init__(self, p):
        self.p = p
    
    def fit(self, X, y):
        X_arr = np.insert(X.to_numpy(), 0, 1, axis=1)
        y_arr = y.to_numpy()
        # we know theta = (X^TX)^-1X^Ty
        theta = inv(X_arr.transpose()@X_arr)@(X_arr.transpose()@y)
        self.theta = theta
        return theta
    
    def predict(self, X):
        X_orig = X
        X_arr = np.insert(X.to_numpy(), 0, 1, axis=1)
        for i in range(1, self.p+1):
            X_arr = np.append(X_arr, X_orig**i)
        return X_arr@self.theta

In [84]:
#5 gradient descent
from numpy.linalg import norm
class GradientDescentLR:
    def __init__(self, alpha, max_depth):
        self.alpha = alpha
        self.max_depth = max_depth
    
    def fit(self, X, y):
        X_arr = X.to_numpy()
        y_arr = y.to_numpy()
        X_trans = X_arr.transpose()
        diff = 10000000
        count = 0
        theta = np.random.rand(X_arr.shape[1], 1)   
        while (diff > self.alpha or count < self.max_depth):
            const = alpha * 2/len(X.index)
            theta_new = const * X_trans@(X_arr@theta - y_arr)
            diff = norm(theta_new - theta)
            theta = theta_new
            count+=1
        self.theta = theta
        return theta
    
    def predict(self, X):
        return X@self.theta

In [ ]:
# ridge
class RidgeRegression:
    def __init__(self, cost):
        self.cost = cost
    
    def fit(self, X, y):
        X_arr = np.insert(X.to_numpy(), 0, 1, axis=1)
        y_arr = y.to_numpy()
        theta = X_arr.transpose@()
        self.theta = theta
        return theta
    
    def predict(self, X):
        X_arr = np.insert(X.to_numpy(), 0, 1, axis=1)
        return X_arr@self.theta

In [100]:
#3
my_reg = MyLinearRegression()
my_reg.fit(x_train, y_train)
predict = my_reg.predict(x_test)
mse = mean_squared_error(y_train, predict)
r2 = r2_score(y_train, predict)

In [101]:
def run_model(X_train, Y_train, X_test, Y_test, model, print_coef=False):
    model.fit(X_train, Y_train)
    if print_coef:
        print(f'Intercept: {model.intercept_:.2f}')
        print('Coefficients\n', model.coef_)

    Y_train_predicted = model.predict(X_train)
    mse = mean_squared_error(Y_train, Y_train_predicted)
    r2= r2_score(Y_train, Y_train_predicted)

    print("Training set performance")
    print(f'   MSE = {format_nbr(mse)}')
    print(f'   R2 = {format_nbr(r2)}')
   
    Y_test_predicted = model.predict(X_test)
    mse = mean_squared_error(Y_test, Y_test_predicted)
    r2= r2_score(Y_test, Y_test_predicted)

    print("Testing set performance")
    print(f'   MSE = {format_nbr(mse)}')
    print(f'   R2 = {format_nbr(r2)}')
    
# format a number based on its magnitude
# If <= 100000, print using :.3f
# Else print using :.0e
def format_nbr(f):
    if abs(f) < 100000:
        return f'{f:.3f}'
    else:
        return f'{f:.4e}'
    
run_model(x_train, y_train, x_test, y_test, MyLinearRegression())

Training set performance
   MSE = 3.0835e+05
   R2 = -1.678
Testing set performance
   MSE = 3.6823e+05
   R2 = -1.209

In [89]:
gd = GradientDescentLR(alpha=.5, max_depth = 10)
gd.fit(x_train, y_train)
print(gd.predict(x_test))

              0             1             2             3             4    \
0   -1.724365e-10 -1.724367e-10 -1.724361e-10 -1.724352e-10 -1.724354e-10
1   -3.462125e-10 -3.462127e-10 -3.462122e-10 -3.462127e-10 -3.462129e-10
2   -3.152131e-10 -3.152129e-10 -3.152131e-10 -3.152134e-10 -3.152134e-10
3    1.428365e-10  1.428361e-10  1.428369e-10  1.428363e-10  1.428361e-10
4   -1.238829e-10 -1.238835e-10 -1.238823e-10 -1.238837e-10 -1.238839e-10
..            ...           ...           ...           ...           ...
995 -3.368365e-10 -3.368361e-10 -3.368364e-10 -3.368361e-10 -3.368370e-10
996 -8.487915e-10 -8.487918e-10 -8.487911e-10 -8.487913e-10 -8.487912e-10
997 -9.593525e-10 -9.593525e-10 -9.593521e-10 -9.593519e-10 -9.593520e-10
998  1.240677e-10  1.240679e-10  1.240674e-10  1.240672e-10  1.240673e-10
999  5.654614e-10  5.654614e-10  5.654616e-10  5.654620e-10  5.654613e-10

              5             6             7             8             9    \
0   -1.724339e-10 -1.724363e-10 -1.724356e-10 -1.724359e-10 -1.724366e-10
1   -3.462138e-10 -3.462124e-10 -3.462126e-10 -3.462121e-10 -3.462120e-10
2   -3.152112e-10 -3.152129e-10 -3.152134e-10 -3.152134e-10 -3.152129e-10
3    1.428344e-10  1.428363e-10  1.428366e-10  1.428367e-10  1.428370e-10
4   -1.238849e-10 -1.238829e-10 -1.238834e-10 -1.238826e-10 -1.238821e-10
..            ...           ...           ...           ...           ...
995 -3.368381e-10 -3.368362e-10 -3.368363e-10 -3.368359e-10 -3.368359e-10
996 -8.487894e-10 -8.487913e-10 -8.487914e-10 -8.487909e-10 -8.487909e-10
997 -9.593497e-10 -9.593519e-10 -9.593521e-10 -9.593517e-10 -9.593519e-10
998  1.240706e-10  1.240675e-10  1.240670e-10  1.240670e-10  1.240674e-10
999  5.654587e-10  5.654612e-10  5.654616e-10  5.654615e-10  5.654614e-10

     ...           990           991           992           993  \
0    ... -1.724359e-10 -1.724338e-10 -1.724350e-10 -1.724363e-10
1    ... -3.462132e-10 -3.462124e-10 -3.462124e-10 -3.462122e-10
2    ... -3.152127e-10 -3.152137e-10 -3.152122e-10 -3.152129e-10
3    ...  1.428350e-10  1.428353e-10  1.428377e-10  1.428367e-10
4    ... -1.238848e-10 -1.238833e-10 -1.238820e-10 -1.238822e-10
..   ...           ...           ...           ...           ...
995  ... -3.368369e-10 -3.368359e-10 -3.368373e-10 -3.368364e-10
996  ... -8.487910e-10 -8.487897e-10 -8.487909e-10 -8.487911e-10
997  ... -9.593514e-10 -9.593494e-10 -9.593526e-10 -9.593519e-10
998  ...  1.240693e-10  1.240671e-10  1.240659e-10  1.240676e-10
999  ...  5.654601e-10  5.654611e-10  5.654624e-10  5.654617e-10

              994           995           996           997           998  \
0   -1.724362e-10 -1.724357e-10 -1.724362e-10 -1.724366e-10 -1.724365e-10
1   -3.462120e-10 -3.462126e-10 -3.462119e-10 -3.462131e-10 -3.462123e-10
2   -3.152128e-10 -3.152130e-10 -3.152130e-10 -3.152134e-10 -3.152127e-10
3    1.428367e-10  1.428364e-10  1.428363e-10  1.428364e-10  1.428371e-10
4   -1.238823e-10 -1.238834e-10 -1.238827e-10 -1.238836e-10 -1.238824e-10
..            ...           ...           ...           ...           ...
995 -3.368360e-10 -3.368365e-10 -3.368359e-10 -3.368363e-10 -3.368363e-10
996 -8.487908e-10 -8.487912e-10 -8.487905e-10 -8.487921e-10 -8.487913e-10
997 -9.593516e-10 -9.593519e-10 -9.593513e-10 -9.593528e-10 -9.593525e-10
998  1.240673e-10  1.240671e-10  1.240675e-10  1.240668e-10  1.240671e-10
999  5.654612e-10  5.654614e-10  5.654610e-10  5.654615e-10  5.654615e-10

              999
0   -1.724361e-10
1   -3.462122e-10
2   -3.152126e-10
3    1.428361e-10
4   -1.238827e-10
..            ...
995 -3.368365e-10
996 -8.487908e-10
997 -9.593514e-10
998  1.240676e-10
999  5.654611e-10

[1000 rows x 1000 columns]

In [85]:
for alpha in [0.01, 0.1, 0.5]:
    for max_iter in [10, 50, 100]:
        print('**** alpha =', alpha, "max_iter =", max_iter)
        run_model(x_train, y_train, x_test, y_test, GradientDescentLR(alpha=alpha, max_depth = max_iter), print_coef=False)

**** alpha = 0.01 max_iter = 10

ValueError: y_true and y_pred have different number of output (1!=1000)